<form name="lectureAdd" method="post">
    <div class="form-group">
        <label for="name">Название лекции</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group">
        <label for="lecturer">Имя лектора</label>
        <input type="text" class="form-control" id="lecturer" name="lecturer" />
    </div>
    <div class="form-group">
        <label for="date">Дата</label>
        <input type="date" class="form-control" id="date" name="date" placeholder="Например, 2017-05-12" />
    </div>
    <div class="form-group">
        <label for="start">Время начала</label>
        <input type="time" class="form-control" id="start" name="start" placeholder="Например, 17:00" />
    </div>
    <div class="form-group">
        <label for="finish">Время окончания</label>
        <input type="time" class="form-control" id="finish" name="finish" placeholder="Например, 19:30" />
    </div>
    <div class="form-group">
        <label for="school">Школа</label>
        <select name="school" multiple size="4" class="form-control" id="school">
            {{#each school}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="classroom">Аудитория</label>
        <select name="classroom" class="form-control" id="classroom">
            {{#each classroom}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <button name="add" type="submit" class="btn btn-primary">Сохранить</button>
</form>