<div class="classroom-edit-form">
    <br/>
    <div class="jumbotron">
        <form name="schoolEdit" method="post">
            <div class="form-group">
                <label for="name">Название аудитории</label>
                <input type="text" class="form-control" id="name" name="name" value="{{name}}" />
            </div>
            <div class="form-group">
                <label for="capacity">Вместимость</label>
                <input type="text" class="form-control" id="capacity" name="capacity" value="{{capacity}}" />
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea name="description" class="form-control" id="description" rows="3">{{description}}</textarea>
            </div>
            <input type="hidden" name="id" value="{{_id}}" />
            <button name="save" type="submit" class="btn btn-primary classroom-save">Сохранить</button>
            <button type="button" class="btn btn-secondary classroom-edit-cancel">Отменить</button>
        </form>
    </div>
</div>